@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Inder&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jomhuria&display=swap');

.container {
  font-family: 'Inria Serif', serif;
}

.left-container {
  max-width: 100%;
}

.hero-title {
  font-size: 2rem;
  margin-top: 20px;
  color: #333;
  font-weight: 700;
}

.hero-description {
  color: #666;
  font-size: 1rem;
  line-height: 1.6;
}

.feature-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 89, 255, 0.15);
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #e0f3ff; /* Light blue background for the icon circle */
  border-radius: 50%;
  margin: 0 auto; /* Centers the circle horizontally within its container */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.icon-circle:hover {
  background-color: #0059FF; /* Darker blue background on hover */
  transform: scale(1.1); /* Slightly increase the size of the circle */
}

.icon-circle .icon {
  color: #0059FF;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.icon-circle:hover .icon {
  color: #ffffff; /* Change icon color to white on hover */
}

.feature-description {
  font-size: 0.9rem;
  color: #555;
}

/* Responsive styling */
@media (max-width: 767px) {
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-description {
    font-size: 0.9rem;
  }
}
